body {margin: 0% 2%;}

.modal-content {min-height: 1089px}

.modal-dialog {min-height: 1089px;}

.col-4 {height: 50%;}

.col-8 {height: 800px;}

.wizard-section {display: none;}

.active-section {display: block;}

.nav-item .btn {
    width: 100%;
    height: 100%;
    white-space: nowrap;
}

.class-image {
    width: 40%;
    float: left;
}

.class-image img {
    width: 100%;
    height: auto;
    padding: 0 20px 0 0;
}

.list-group-item {align-items: center;}

.equipment-search-redirect {
    position: fixed;
    left: 0;
    top: 0;
    margin: 10px;
    border-radius: 5px;
}

.char-edit-button {
    position: fixed;
    right: 0;
    top: 0;
    margin: 10px;
}

header {
    display: flex;
    position: center;
}

#starfinder-main-logo {
    margin: 10px auto 10px auto;
    height: 50px;
    width: auto;
}

.footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0% 5% 0% 5%;
    width: 90%;
}

.list-group {
    height: 400px;
    font-weight: bold; 
    overflow: auto;
}

.tab-content {height: 790px;}

.tab-pane {height: 790px; overflow: auto;}

.preferences-section {margin-top: 5%}


/* --- RACE TAB CONTENT --- */

.homeworld-gender {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    align-items: center;
    justify-content: space-evenly;
}

.homeworld-gender * {
    margin: 16px;
    border: 2px solid black;
    font-weight: bold;
    width: 75%;
}

hr {clear: both;}

.race-image {
    width: 40%;
    height: 400px;
    float: left;
    text-align: center;
    object-fit: cover;
}

.race-image img {
    width: auto;
    max-height: 400px;
    padding: 0 20px 0 0;
}


.race-info-list {
    list-style-position:inside; 
    margin-left:-35px;
}

.info-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selection-name {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 16px;
}

.selection-description {font-size: 15px; margin-bottom: 16px;}

.stat-block {
    border: 3px solid black;
    border-radius: 15px;
    background-color: #0071ed;
    color: white;
    width: 250px;
    justify-content: center;
    padding: 5px;
    margin-top: 16px;
}

.race-AS, .race-HP {font-weight: bold; font-size: 17px;}

.race-sizeType {font-size: 13px;}

.ability-cards {
    clear: both;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 8px;
}

.race-abilities ul {margin: 0;}
.race-abilities li {margin-left: 5%;}

.ability-box {
    align-self: center;
    border: 4px solid black;
    border-radius: 15px;
    width: 95%;
    margin-bottom: 16px;
}

.ability-box * {padding: 3px;}

.ability-box .label-bar {
    background-color: #0071ed;
    color: white;
    border-bottom: 2px solid black;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
}

.ability-box .ability-text {
    font-size: 14px;
    background-color: #ededed;
    border-radius: 0 0 10px 10px;
    padding-left: 5px;
}


.race-select-pane {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-content: center;
    position: absolute;
    left: 0%; bottom: -7%;
    background-color: white;
    padding: 10px;
    height: auto;
    border-radius: 10px;
}

.race-select-button {font-weight: bold;}

.fa-check {margin-left: 6px;}

.subdecisions {text-align: center; width: 100%}

.subdecisions label {
    font-weight: bold;
    position: absolute;
    margin-top: 22px;
    left: 100px;
}

.subdecisions select {
    margin: 16px;
    border: 2px solid black;
    font-weight: bold;
    width: 250px;
    justify-self: center;
}

.subdecision-detail {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: #f1f1f1;
    font-size: 14px; font-style: italic;
    min-height: 40px;
}

/* --- END RACE TAB CONTENT --- */


.modal-footer {
    display: flex;
    justify-content: space-evenly;
}

.page-title {
    text-align: center;
    font-size: 48px;
}

.white-card {
    display: inline-block;
    background-color: white;
    box-shadow: 10px 10px 16px grey;
    padding: 24px;
    margin-bottom: 16px;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    text-align: center;
}

.grey-card {
    display: inline-block;
    background-color: #e6e6e6;
    box-shadow: 10px 10px 16px grey;
    padding: 24px;
    margin-bottom: 16px;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
}

.flex-container-status {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 220px;
}

.flex-container-status > div {
    background-color: white;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    width: 80px;
    height: 80px;
    margin: 10px;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
}

.flex-container-status > div > span {
    font-size: 25px;
}

.flex-container-as {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 120px;
}

.flex-container-as > div {
    background-color: white;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    width: 80px;
    height: 80px;
    margin: 15px;
    text-align: center;
    line-height: 28px;
    font-size: 20px;
}

.flex-container-as > .as-mod {
    background-color: white;
    border-radius: 80px;
    border-style: solid;
    border-width: 3px;
    width: 60px;
    height: 40px;
    margin-top: -40px;
    margin-left: 26px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}


.flex-container-status > .title {
    background-color: #e6e6e6;
    border-style: none;
    border-width: px;
    width: 85px;
    height: 10px;
    margin: 10px;
    text-align: center;
    line-height: 0px;
    font-size: 20px;
}


.debugHeader {
  text-align: center;
  font-size: 25px;
}

#debugHideShowButton {
  float: right;
}

#allDebug {
  display: block;

}

.flex-container-saves {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 120px;
}

.flex-container-saves > div {
    background-color: white;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    width: 80px;
    height: 80px;
    margin: 10px;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
}

.flex-container-saves > div > span {
    font-size: 25px;
}

.column {
    float: left;
    text-align: left;
    padding: 10px 20px 10px 0px;
    line-height: 1;
    font-size: 30px;
    min-height: 30px
}

.columnIcon {
    float: left;
    text-align: center;
    padding: 10px 3px;
    font-size: 15px;
    min-height: 15px;
    line-height: 1;
    margin: 0;
}

.column span {
    float: right;
    padding-left: 10px;
}

.column-debug input {
    float: right;
    width: 35px
}

.column-debug {
    float: left;
    text-align: left;
    padding: 10px;
}

.entry-disable {
    color: lightgray;
}

.left-margin-20per {
    padding: 0px 10% 10px 20%;
}

.right-margin-20per {
    padding: 0px 20% 10px 10%;
}



#preferences-section {
    padding: 10px auto;
}

.checkbox-entry {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-entry input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-entry .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.checkbox-entry:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox-entry input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkbox-entry input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-entry .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.radio-entry {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

 
.radio-entry input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-entry .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.radio-entry:hover input ~ .checkmark {
    background-color: #ccc;
}

.radio-entry input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-entry input:checked ~ .checkmark:after {
    display: block;
}

.radio-entry .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.block-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 30%;
}

.top-spacing-90 {
    padding-top: 90px;
}

.top-spacing-60 {
    padding-top: 60px;
}

.top-spacing-30 {
    padding-top: 30px;
}

.bottom-spacing-30 {
    padding-bottom: 30px;
}
